<h1>Employees#show</h1>
<p>Find me in app/views/employees/show.html.erb</p>

<p>Name: <%= @employee.first_name %> <%= @employee.last_name %></p>
<p>Alias: <%= @employee.alias %></p>
<p>Title: <%= @employee.title %></p>
<p>Office : <%= @employee.office %></p>
<p>ID: <%= @employee.dog_id %></p>